<head>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
          <div class="modal-mask" @click="$emit('close')">
            <div class="modal-wrapper">
              <div class="modal-container" v-on:click.stop>
                  <slot name="model-content">
                    default content
                  </slot>
              </div>
            </div>
          </div>
        </transition>
    </script>

    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    />

    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/index.css" />
    <link rel="stylesheet" type="text/css" href="styles/custom-checkbox.css" />
    <link rel="stylesheet" type="text/css" href="styles/modal-template.css" />
</head>

<body>
    <div id="todo-list-container">
        <button type="button" class="btn btn-light add-button" @click="showModal = true"></button><br /><br /><br />

        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">
            <!--
                you can use custom content here to overwrite
                default content
            -->
            <div slot="model-content">
                <form id="todo=item-form" @submit.prevent="addTodo">
                    <div class="field">
                        <label class="field-label">Title</label><br />
                        <input type="text" class="title-input" name="todo-title" v-model="todoTitle" />
                    </div>
                    <div class="field">
                        <label class="field-label">Description</label><br />
                        <textarea
                            class="description-input"
                            name="todo-description"
                            v-model="todoDescription"
                        ></textarea>
                    </div>
                    <div class="field has-text-right add-todo-container">
                        <button type="submit" class="btn btn-primary add-todo-button">add</button>
                    </div>
                </form>
            </div>
        </modal>

        <!-- <button v-on:click="remove">Remove</button> -->
        <transition-group name="todo-list" tag="ul" class="todo-list">
            <li
                v-for="item in items"
                v-bind:key="item.id"
                v-on:dblclick.native="openModal(item)"
                class="todo-list-item"
            >
                <span v-if="item.done">
                    <label class="checkbox-container">
                        <del> {{ item.title }}</del>
                        <input type="checkbox" v-on:click="setDone(item)" checked="checked" />
                        <span class="checkmark"></span>
                    </label>
                </span>
                <span v-else>
                    <label class="checkbox-container">
                        {{ item.title }}
                        <input type="checkbox" v-on:click="setDone(item)" />
                        <span class="checkmark"></span>
                    </label>
                </span>
            </li>
        </transition-group>
    </div>
</body>
