#todo-list-container {
    margin: auto;
    width: 50%;
}
.todo-list {
    list-style-type: none;
}
.todo-list-enter-active,
.todo-list-leave-active {
    transition: all 0.5s;
}
.todo-list-enter {
    opacity: 0;
    transform: translateX(30px);
}
.todo-list-leave-to {
    opacity: 0;
    transform: translateX(-30px);
}
.todo-list-item {
    background-color: blue;
}
