#todo-list-container {
    margin: auto;
    width: 40%;
}
.add-button {
    background-image: url("images/baseline-add-24px.svg");
    background-size: 100%;
    float: right;
    border-radius: 0px;
    height: 50px;
    width: 50px;
}
.todo-list {
    list-style-type: none;
}
.todo-list-enter-active,
.todo-list-leave-active {
    transition: all 0.5s;
}
.todo-list-enter {
    opacity: 0;
    transform: translateX(30px);
}
.todo-list-leave-to {
    opacity: 0;
    transform: translateX(-30px);
}
.todo-list-item {
    background-color: blue;
}
