html {
    height: 100%;
}
body {
    margin: 0;
    background-image: linear-gradient(to bottom right, yellow, lightgreen, lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
#todo-list-container {
    margin: auto;
    width: 40%;
}
.add-button {
    background-image: url("../images/baseline-add-24px.svg");
    background-color: transparent;
    border-color: transparent;
    background-size: 100%;
    float: right;
    border-radius: 0px;
    height: 50px;
    width: 50px;
}
.field-label {
    padding-top: 10px;
    font-weight: bold;
}
.title-input,
.description-input {
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    width: 100%;
}
.description-input {
    height: 100px;
}
.title-input:hover,
.description-input:hover {
    border-color: black;
}
.title-input:focus,
.description-input:focus {
    border-color: #2196f3;
}
.add-todo-container {
    padding-top: 10px;
    padding-bottom: 30px;
}
.add-todo-button {
    float: right;
}
.todo-list {
    list-style-type: none;
    padding-left: 0px;
}
.todo-list-enter-active,
.todo-list-leave-active {
    transition: all 0.5s;
}
.todo-list-enter {
    opacity: 0;
    transform: translateX(30px);
}
.todo-list-leave-to {
    opacity: 0;
    transform: translateX(-30px);
}
.todo-list-item {
    font-size: 30px;
    font-weight: bold;
}
